.container {
  max-width: 100vw;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 1em;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.game-card {
  flex: 1 1 calc(50% - 1em); 
  box-sizing: border-box;
}