.game-card {
  margin: 0.5em;
  margin-bottom: auto;
  width: 100%;
}

.container {
  max-width: 100vw;     /* max width of viewport */
  width: 100%;           /* make sure it stretches fully */
  box-sizing: border-box; /* include padding and borders in width */
  overflow-x: hidden;    /* prevent horizontal scroll */
  margin: 0;
  padding: 1em;
}